@charset "UTF-8";


@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;400;700&display=swap');



/* reset */
html {-webkit-text-size-adjust: none; text-size-adjust: none;}
body {margin: 0; font-family: Noto Sans KR,Apple SD Gothic Neo,"\B9D1\C740 \ACE0\B515",Malgun Gothic,sans-serif; -webkit-font-smoothing: antialiased;}
h1, h2, h3, h4, h5, h6, p, ul, ol, dl, dd, dt {margin: 0; padding: 0;}
a {color: inherit; text-decoration: inherit;}
li {list-style: none;}
address, em, i, cite {font-style: normal;}
i[class^="fa"] {position: relative; display: inline-block; vertical-align: middle;}
i[class^="fa"] span {position: absolute; left: -9999px;}


#wrapper {width: 100%; min-width: 1024px; background-color: #ffffff; color: #212529;}

#skip-nav {width: 100%; position: fixed; left: 0; top: -31px; line-height: 30px; color: #ffffff; text-align: center; background-color: rgba(127, 255, 212, 0.387);}
#skip-nav:focus {top: 0;}


/* #header {width: 100%; height: 100px; position: fixed; background-color: #ffffff; top: 0;}
#header > div.nav-box {width: 1135px; height: 31px; padding: 34px 30px; margin: 0 auto; background-color: #ffffff; position: relative;}
#header > div.nav-box > h1 {background-color: #ffffff; position: absolute; left: 30px;}
#header > div.nav-box > h1 a svg {display: block;}
#gnb {background-color: aqua;}
#gnb > ul {background-color: #ffffff; height: auto; position: absolute; right: 30px; top: 50%; transform: translate(0, -50%);}
#gnb > ul > li {float: left; margin-left: 50px;}
#gnb > ul > li a {letter-spacing: -.3px; color: #212529; font-size: 17px;}
#gnb > ul > li.active a {font-weight: 700;} */

#header {width: 100%;}

#header > div.box-nav {max-width: 1195px; padding: 34px 30px; margin: 0 auto; box-sizing: border-box; position: relative;}
#header > div.box-nav > h1 {display: inline-block; text-align: center;}
#header > div.box-nav > h1 a {}
#header > div.box-nav > h1 a svg {width: 74px;}
#gnb {position: absolute; right: 30px; top: 50%; transform: translate(0, -50%);}
#gnb > ul > li {float: left;}
#gnb > ul > li + li {margin-left: 50px;}
#gnb > ul > li a {font-size: 17px;}

#main {margin-top: 180px;}
#main > section { background-color: plum; width: 100%;}

#main-intro {}
#main-intro > div.box {background-color: hotpink;}
#main-intro h2 {font-size: 50px; font-weight: 700;}
#main-intro p {font-size: 20px; margin: 24px 0 0 0;}

#main-slide {}
#main-slide > div.box {background-color: yellowgreen; padding: 60px 0 80px 0;}
#main-slide ul {background-color: lime; height: 365px; width: 500%;}
#main-slide ul > li {float: left; margin-left: 15px;}
#main-slide ul > li > span.img {width: 385px; height: 365px; display: block; background: url(../img/main-top-01.webp) center center no-repeat; background-size: cover;}


#main-history {}
#main-history > div.box {background-color: blue; position: relative; padding: 112px 0; position: relative;}

#main-history div.history-title {background-color: red; position: absolute; left: 0; width: 600px;}
#main-history div.history-title > h2 {font-size: 34px; font-weight: 700px; margin-bottom: 90px;}
#main-history div.history-title dl dt {font-size: 16px; margin-bottom: 10px; color: #828c94;}
#main-history div.history-title dl dd {font-size: 30px; margin-bottom: 40px;}
#main-history div.history-title dl dd > em {color: #35c5f0; font-weight: 800;}

#main-history dl.history-box {background-color: green; position: absolute; right: 60px;}
#main-history dl.history-box dt {float: left; margin-right: 40px;}
#main-history dl.history-box dd {color: red;margin-bottom: 50px;}




#footer {}

div.box {background-color: bisque; max-width: 1175px; padding: 0 30px; margin: 0 auto; box-sizing: border-box;}

