@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;400;700&display=swap');

/* reset */
html {-webkit-text-size-adjust: none; text-size-adjust: none;}
body {margin: 0; font-family: Noto Sans KR,Apple SD Gothic Neo,"\B9D1\C740 \ACE0\B515",Malgun Gothic,sans-serif; -webkit-font-smoothing: antialiased;}
h1, h2, h3, h4, h5, h6, p, ul, ol, dl, dd, dt {margin: 0; padding: 0;}
a {color: inherit; text-decoration: inherit;}
li {list-style: none;}
address, em, i, cite {font-style: normal;}
i[class^="fa"] {position: relative; display: inline-block; vertical-align: middle;}
i[class^="fa"] span {position: absolute; left: -9999px;}


#wrapper {background-color: #ffffff; width: 100%; min-width: 1024px; color: #212529}

#skip-nav {width: 100%; font-size: 18px; display: block; text-align: center; line-height: 1.8; position: fixed; left: 0; top: -50px; background-color: rgba(13, 160, 189, 0.737); color: #ffffff; z-index: 1000 ;}
#skip-nav:focus {top: 0;}


/* common */
div.box {background-color: bisque; max-width: 1175px; padding: 0 30px; margin: 0 auto; box-sizing: border-box;}
/**/

#header {width: 100%; position: fixed; top: 0; left: 0; background-color: #ffffff; z-index: 999;}
#header > div.box-nav {max-width: 1195px; padding: 34px 30px; margin: 0 auto; box-sizing: border-box; position: relative;}
#header > div.box-nav > h1 {display: inline-block;}
#header > div.box-nav > h1 a {width: 74px;}

#gnb {position: absolute;right: 30px; top: 50%; transform: translate(0, -50%);}
#gnb > ul {overflow: hidden;}
#gnb > ul > li {float: left;}
#gnb > ul > li + li {margin-left: 50px;}
#gnb > ul > li a {font-size: 17px;}

/* 액션 */
#gnb > ul > li > a:hover {font-weight: 700;}
#gnb > ul > li.active {font-weight: 700;}


#main {margin-top: 180px;}
#main > section {background-color: lavender;}

/* #main-intro > div.box {background-color: #ffffff;} */
#main-intro h2 {font-size: 50px; font-weight: 700;}
#main-intro p {font-size: 20px; margin: 24px 0 0 0;}

#main-slide > div.box {padding: 60px 0 80px 0;}
#main-slide ul {width: 500%; overflow: hidden;}
#main-slide ul > li {float: left;}
#main-slide ul > li + li {margin-left: 25px;}
#main-slide ul > li span.img {display: block; width: 385px; height: 365px; background: url(../img/main-top-01.webp) center center no-repeat; background-size: cover;}

#main-history > div.box {background-color: #2f3438;; overflow: hidden; padding: 112px 0 100px 0; }
#main-history div.history-title {background-color: #2f3438; display: inline-block; float: left;}
#main-history div.history-title > h2 {font-size: 34px; font-weight: 700px; margin-bottom: 90px; color: #eaebef}
#main-history div.history-title dl dt {font-size: 16px; margin-bottom: 10px; color: #828c94;}
#main-history div.history-title dl dd {font-size: 30px; margin-bottom: 40px;}
#main-history div.history-title dl dd > em {color: #35c5f0; font-weight: 800;}


#main-history div.history-box {background-color: #3f474d; display: inline-block; float: right; padding: 50px; border-radius: 5px;}
#main-history dl.history-content {opacity: 1;}
#main-history dl.history-content > dt {color: red; float: left; padding-right: 30px; font-size: 14px; font-weight: 800; color: #eaebef;}
#main-history dl.history-content > dd {color: #eaebef; padding-bottom: 30px; font-size: 16px;}

#main-history span {display:block; clear: both; text-align: center;}
#main-history dl.history-content > dd > em {color: yellow; padding: 110px;}





#footer {}


div.box {background-color: bisque; max-width: 1175px; padding: 0 30px; margin: 0 auto; box-sizing: border-box;}